
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body {
       font-family: 'Roboto';
}

.container {
       margin: 0 auto;
       max-width: 1360px;
}

.navbar {
       background-color: #1f2937;
       height: 50px;
}

.navbar .container {
       display: flex;
       align-items: center;
       height: 100%;
       justify-content: space-between;
}

.logo {
       margin-left: 1em;
       font-size:24px;
       color: #f9faf8;
       font-weight: bold;
}

.navbar ul {
       list-style-type: none;
       display: flex;
       gap: 1em;
       margin-right: 1em;
}

.navbar ul a{
       color: #e5e7eb;
       font-size: 18px;
       text-decoration: none;
}

