
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}

body {
       font-family: 'Roboto', sans-serif;
}

.container {
       margin: 0 auto;
       max-width: 1360px;
       padding: 0em 1em;
}

.navbar {
       background-color: #1f2937;
       height: 50px;
}

.navbar .container {
       display: flex;
       align-items: center;
       height: 100%;
       justify-content: space-between;
}

.logo {
       font-size:24px;
       color: #f9faf8;
       font-weight: bold;
}

.navbar ul {
       list-style-type: none;
       display: flex;
       gap: 1em;
}

.navbar ul a{
       color: #e5e7eb;
       font-size: 18px;
       text-decoration: none;
}


.header {
       background-color: #1f2937;
       height: 500px;
}

.header .container {
       display: flex;
       justify-content: space-evenly;
       height: 100%;
       align-items: center;
}

.hero {
       width: 500px;
}

.hero h1 {
       font-size: 48px;
       font-weight: extra-bold;
       color: #f9faf8;
}

.hero p {
       font-size: 18px;
       color: #e5e7eb;
       margin-bottom: 18px;
}

.hero button {
       background-color: #3882f6;
       color: white;
       border: none;
       padding: 10px 30px;
       border-radius: 10px;
       font-weight: bold;
}

img {
       width: 300px;
       height: auto;
}

.about .container {
       text-align: center;
       padding: 50px 0px;
}

.about h1 {
       font-size:36px;
       font-weight: extra-bold;
       color: #1f2937;
}

.about .items {
       margin: 30px 0px;
       display:flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       gap: 20px;
}

.card {
       height: 200px;
       width: 188px;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 10px;
       padding: 10px;
}

 .card .box {
       border-radius: 10px;
       border: 5px solid lightblue;
       height: 148px;
       width: 100%;
}
.card p {
       text-transform: lowercase;
}

.comment {
       background-color: #e5e7eb;
}

.comment {
       height: 400px;
}

.comment .container {
       display: flex;
       flex-direction: column;
       min-height: 100%;
       align-items: center;
       justify-content: center;
       padding: 25px 50px;
}

.comment h4 {
       align-self: flex-end;
       font-size:18px;
       font-weight: bold;
}

.comment h2 {
       font-size: 36px;
       font-style: italic;
       color: #1f2937;
       font-weight: 300;
}

.sign-up {
       height: 200px;
       display: flex;
       justify-content: center;
       align-items: center;
}

.sign-up .box {
       background-color: #3882f6;
       padding: 30px 70px;
       border-radius: 10px;
       color: #e5e7eb;
       display: flex;
       gap: 10px;
       width: 800px;
       justify-content: space-between;
       align-items: center;
}

.sign-up button {
       border: 1px solid #f9faf8;
       border-radius: 10px;
       background-color: transparent;
       color: #f9faf8;
       padding: 0px 20px;
       height: 30px;
       font-weight:bold;
}

.sign-up h4 {
       font-weight: 300;
}

.footer {
       background-color: #1f2937;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 50px;
       color: #e5e7eb;
}

